.Individualmessages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .chat-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sender {
    justify-content: flex-end;
  }
  
  .sender .message-text {
    background-color: #DCF8C6;
    color: black;
    border-radius: 10px 10px 0 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: right;
  }
  
  .receiver {
    justify-content: flex-start;
  }
  
  .receiver .message-text {
    background-color: #E8E8E8;
    color: black;
    border-radius: 10px 10px 10px 0;
    margin-left: 10px;
    padding: 10px;
    text-align: left;
  }
  
  .delete-button {
    margin-left: 10px;
    color: red;
    background-color: transparent;
    border: none;
  }
  
  .chat-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .chat-form input[type='text'] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .chat-form button[type='submit'] {
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .chat-form button[type='submit']:hover {
    background-color: #009ACD;
  }
  
  .chat-form button[type='submit']:disabled {
    background-color: #A0A0A0;
    cursor: default;
  }
  