
.accountcreation{
  text-align: center;
}
.PostContent{
margin:5px;
}
.createPost{
  align-items: center;
  text-align: center;
  border:solid 1px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn.btn-primary{
  background-color:rgb(77, 186, 230);
  color:white;
}
